http {

    upstream blue-green {
        server 127:0:0:1:8085
        server 127:0:0:1:8086
        
}

}

server {
    listen 80;
    server_name 54.161.59.150;

    location /sayHello {
        proxy_pass http://blue-green/sayHello;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

}
